## Bubble Plot of Ride Sharing Data

In [3]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [54]:
# Show plot
city_df = pd.read_csv('data/city_data.csv')
city_df.head(5)
city_df.type.unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [38]:
ride_data = pd.read_csv('data/ride_data.csv')
ride_data.head(5)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [45]:
combine_data =city_df.merge(ride_data,on='city',how='outer')
combine_data.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [55]:
urban_data = combine_data.loc[(combine_data['type'] == 'Urban')]
subrban_data = combine_data.loc[(combine_data['type'] == 'Suburban')]
rural_data = combine_data.loc[(combine_data['type'] == 'Rural')]

## Total Fares by City Type

In [50]:
combine_data.groupby(['city']).sum()

                      driver_count     fare          ride_id
city
Amandaburgh                    216   443.55   96468054851003
Barajasview                    572   557.31  102893297406279
Barronchester                  176   582.76   71372735666520
Bethanyland                    396   593.21  105165903035418
Bradshawfurt                    70   400.64   37352940220451
Brandonfort                    190   673.31  103161250476129
Carriemouth                   1404   764.49  139991078502567
Christopherfurt               1107   661.55  123722295302015
Colemanland                    506   679.68  113425702090831
Davidfurt                      391   543.93   77775872278918
Deanville                      931   491.01   93128654434912
East Aaronbury                  63   230.95   56884401202160
East Danielview                374   536.53   65372180460678
East Kaylahaven               1885   688.98  134119599577943
East Kentstad                  260   387.70   58274756658578
East Marymouth                 135   832.55  160651910229777
Erikaland                      444   298.88   53801192107829
Garzaport                       21    72.37   17847448587502
Grahamburgh                   1525   630.53  104056055385314
Grayville                       30   416.45   84919363393594
Harringtonfort                  24   200.82   34358434657936
Huntermouth                    888   695.85  102731720916223
Hurleymouth                   1008   724.96  158223814198291
Jerryton                      1600   641.23  123881812060601
Jessicaport                      6   216.08   21736803740352
Johnton                        567   562.50  111185644908244
Joneschester                   975   557.24  106798517881406
Josephside                     675   887.17  120945745078853
Justinberg                    1170   710.83  130157325435096
Karenberg                      374   447.78   96661356525680
...                            ...      ...              ...
South Evanton                  341   828.51  155792136051581
South Jack                     874   436.34   92952193810105
South Jennifer                  49   246.85   34693504867745
South Karenland                152  1008.35  192547050530583
South Latoya                   190   381.77   83353106012817
South Marychester                8   334.96   27989573884366
South Michelleport            2232   758.00  146554371018588
South Phillip                 1178   885.71  162684644169875
South Saramouth                 28   144.64   15991962436073
South Teresa                   462   686.85  121495009458897
Taylorhaven                      6   253.58   38961733950999
Valentineton                   990   542.00  111123371235553
Veronicaberg                   340   558.08   87112452765269
Victoriaport                   224   388.92   68255257555809
West Angela                   1872  1013.61  188844411918986
West Anthony                  2100   742.10  140833843748973
West Christopherberg           832   634.95  120575727473731
West Ericstad                  450   402.25   91830367726649
West Gabriel                  1311   467.96  128182468796682
West Hannah                    252   620.50   96833628786816
West Heather                    36   305.01   47136736728624
West Heidi                     784   647.75  143956504841413
West Josephberg               1170   564.73  118561972472243
West Kimmouth                   80   597.43   99311868623301
West Patrickchester            400   451.73   84840132207428
West Robert                   1209   778.84  141839769365579
West Samuelburgh              1825   544.19  114168507564959
Williamsonville                 28   446.25   71119331351239
Williamsstad                  1357   560.33   99289591805000
Williamsview                   920   531.98   90753238575823

[120 rows x 3 columns]

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [2]:
# Show Figure

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [3]:
# Show Figure

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [4]:
# Show Figure